#W02im #line3 img {
  width: 30%;
  margin: 1.66%;
  float: left;
}

#W02im #line4 img {
  width: 22%;
  margin: 1.5%;
  float: left;
}

#W02im #line5 img {
  width: 18%;
  margin: 1%;
  float: left;
}

#W02im .clearfix {
  clear: both;
}

#W02im p {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin: 1.66%;
  border-bottom: 2px solid #e43cbf;
  width: 30%;
  padding-bottom: 15px;
}
